@charset "utf-8";
/* CSS Document */


body {
	background-color: #005591;
	font-family: terafikb, tahoma;
}
html, body {
	height: 100%;
	min-height: 500px;
	margin:0px;
	padding:0px;
}
@font-face {
	font-family: terafikb;
	src: url('../fonts/terafikb.ttf');
}
.logo {
	background: url('../imgs/sprite.png') no-repeat -5px -4px;
	width: 312px;
	height: 299px;
	position: absolute;
	right: 35px;
	top: 66px;
}
#login {
	background: url("../imgs/blueback.png") no-repeat scroll 0 0 transparent;
	height: 630px;
	margin: auto;
	position: relative;
	width: 734px;
}
.loginForm {
	height: 385px;
	left: 21px;
	position: absolute;
	top: 24px;
	width: 341px;
}
.logoName {
	background: url('../imgs/sprite.png@v=0.2') no-repeat -60px -499px;
	width: 203px;
	height: 67px;
	left: 90px;
	position: absolute;
	top: 75px;
}
input {
	border: 1px solid #CECECE;
	border-radius: 7px;
	background-color: #E9E9E9;
	box-shadow: 0px 1px 0px #fff, 0px -1px 0px #B9B9B9, inset 0 0 9px 2px #D1D1D1;
	color: #3998C7;
	display: block;
	font-family: terafikb;
	font-size:15px;
	text-shadow:0 1px 0 #fff;
	height: 40px;
	width: 260px;
	margin: auto;
	position: relative;
	text-align: center;
}
input:focus {
	background-color: #f2f2f2;
}
#username {
	top: 25px;
}
#password {
	top: 30px;
}
#btn-login {
	background: url('../imgs/sprite.png') no-repeat -65px -312px;
	width: 192px;
	height: 79px;
	cursor: pointer;
	display: block;
	margin: auto;
	position: relative;
	top: 35px;
	border:none;
}

#btn-login:hover, #btn-login.over {
	background: url('../imgs/sprite.png') no-repeat -65px -400px;
	width: 192px;
	height: 78px;
}

#btn-register {
	background: url('../imgs/sprite.png') no-repeat -65px -659px;
	width: 192px;
	height: 79px;
	cursor: pointer;
	display: block;
	margin: auto;
	position: relative;
	top: 15px;
	border:none;
}

#btn-register:hover, #btn-register.over {
	background: url('../imgs/sprite.png') no-repeat -65px -572px;
	width: 192px;
	height: 78px;
}

#menu-login {
	color: #FFFFFF;
	margin: auto;
	position: absolute;
	text-align: center;
	width: 100%;
}
#menu-login a {
	font-size:13px;
	color: #B3CEE7;
	text-decoration:none;
}
#menu-login a:hover {
	color: #FFFFFF;
}
#menu-login a#center {
	margin:0 20px;
}
